<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <c3-chart id="chart" config="config"></c3-chart>
      <div ng-show="currentHashtags.length == 0">
        <h2>Please wait 30 seconds for the app to gather the first batch of data points.</h2>
      </div>
      <div ng-show="currentHashtags.length != 0">
        <div class="row betting">
          <div class="col-md-3"><h2>Place your bet!</h2></div>
          <div class="col-md-9">
            <progressbar max="timer.max" class="progress-striped active" value="timer.val" type="{{progressbarType}}">{{timer.time}}</progressbar>
          </div>
        </div>

        <div class="row" ng-repeat="ht in currentHashtags">
          <div class="col-md-3">
            {{ht}}
          </div>
          <div class="col-md-2">
            <div class="btn-group">
              <label class="btn btn-success" ng-model="betTrend[$index]" btn-radio="'UP'" uncheckable ng-disabled="betDisabled[$index]">
                <fa name="arrow-up"></fa> Up
              </label>
              <label class="btn btn-danger" ng-model="betTrend[$index]" btn-radio="'DOWN'" uncheckable ng-disabled="betDisabled[$index]">
                <fa name="arrow-down"></fa> Down
              </label>
            </div>


          </div>
          <div class="col-md-2">
            <input type="text" ng-model="betMoney[$index]" ui-money-mask min="0" max="100" ng-disabled="betDisabled[$index]">
          </div>
          <div class="col-md-2">
            <button type="button" ng-model="betPlaced[$index]" ng-click="placebet($index)" class="btn btn-info" ng-disabled="betDisabled[$index]">Place Bet!</button>
          </div>
          <div class="col-md-3">
            <p ng-class="betTextsColor[$index]">{{betTexts[$index]}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Your Account: {{account}}$</h2>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>for "The Social Web" 2015, VU Amsterdam, <br>
      by Florian Golemo, Marjeta Markovic & Kevin Wezeman</p>
  </div>
</footer>
