.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.betting .progress {
  margin-top: 25px;
}


.flash{

  -moz-animation: flash 1s ease-out;
  -moz-animation-iteration-count: 1;

  -webkit-animation: flash 1s ease-out;
  -webkit-animation-iteration-count: 1;

  -ms-animation: flash 1s ease-out;
  -ms-animation-iteration-count: 1;

}

@-webkit-keyframes flash {
  0% { background-color:none;}
  50% { background-color:#fbf8b2;}
  100% {background-color:none;}
}

@-moz-keyframes flash {
  0% { background-color:none;}
  50% { background-color:#fbf8b2;}
  100% {background-color:none;}
}

@-ms-keyframes flash {
  0% { background-color:none;}
  50% { background-color:#fbf8b2;}
  100% {background-color:none;}
}
